<!DOCTYPE html>

<html lang="en">
    <head></head>
    <body>
        <header>
        <h1> ToDo List</h1>
        <a href="http://127.0.0.1:5000/">Home</a>
        <a href="http://127.0.0.1:5000/ping-db">Ping</a>
        <a href="http://127.0.0.1:5000/list">List tasks</a>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if message %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="{{ category}}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        <p>Witaj w aplikacji ToDo List</p>
        {% endblock %}

    </body>
</html>